/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
    padding: 60px 15px 0;
  }

.card {
  margin: 5vh;
}

#map { height: 180px; }
